body {
  background-color: #f3f3f3;
}

.App {
  text-align: center;
}

.mr-2 {
  margin-right: 0.5rem;
}

button {
  border: 0;
}

.pinned-tours {
  margin-top: 1rem;
}

.tours {
  margin-top: 2rem;
}

.ml-1 {
  margin-left: 0.25rem;
}

.mt-0 {
  margin-top: 0.12rem;
}

.mt-3 {
  margin-top: 1rem;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tour {
  display: grid;
  grid-gap: 0.25rem;
  align-items: center;
  grid-template-areas:
  "class-race theme"
  "time time"
  "pin tracks"
;
  border-radius: 5px;
  padding: 0.5rem 2rem;
  margin: 0.5rem;
  background-color: #fafafa;
}

.tour-class-race {
  grid-area: class-race;
  display: grid;
  grid-gap: 0.25rem;
}

.tour-race {
  grid-area: race;
}

.tour-time {
  grid-area: time;
}

.tour-theme {
  grid-area: theme;
}

.tour-tracks {
  grid-area: tracks;
  font-size: 80%;
}

.tour-pin {
  grid-area: pin;
}

.pin {
  height: 32px;
}

.picker {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-row-gap: 0.25rem;
  justify-content: center;
}

@media only screen and (min-width: 400px) {
  .picker {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
  }
}

.class-type {
  padding: 0.25rem;
  color: white;
  font-weight: bold;
  margin-right: 0.25rem;
  display: flex;
  justify-content: space-between;
}

.race-type {
  padding: 0.25rem 0.5rem;
  color: white;
  font-weight: bold;
  margin-right: 0.25rem;
}

.gray-300 {
  color: #6a6a6a;
}

.disabled {
  background-color: grey !important;
}

.pi-998 {
  background-color: #1e5dd4;
}

.pi-900 {
  background-color: #a75dc3;
}

.pi-800 {
  background-color: #e83354;
}

.pi-700 {
  background-color: #ee621c;
}

.pi-600 {
  background-color: #fbc538;
}

.pi-500 {
  background-color: #71c3e6;
}

.apex {
  background-color: #0f90c9;
}

.wilds {
  background-color: #ee4708;
}

.baja {
  background-color: #25a847;
}

.text-red {
  color: red;
}

.queue-now {
  font-size: 200%;
  background-color: #d83c74;
}

.next-up {
  font-size: 150%;
  background-color: #e9d323;
}

.pinned {
  background-color: #9270f6;
}

.pi {
  padding: 0 0.25rem;
  background-color: white;
  color: black;
}
