.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mr-2 {
  margin-right: 0.5rem;
}

button {
  border: 0;
}

.tours {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 1rem;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tour {
  border-radius: 5px;
  padding: 0.5rem 2rem;
  margin: 0.5rem;
  background-color: white;
}

.picker {
  margin-top: 1rem;
}

.class-type {
  padding: 0.25rem;
  color: white;
  font-weight: bold;
  margin-right: 0.25rem;
}

.race-type {
  padding: 0.25rem 0.5rem;
  border-radius: 10rem;
  color: white;
  font-weight: bold;
  margin-right: 0.25rem;
}

.disabled {
  background-color: grey !important;
}

.pi-998 {
  background-color: #5d7ac3;
}

.pi-900 {
  background-color: #a75dc3;
}

.pi-800 {
  background-color: #e83354;
}

.pi-700 {
  background-color: #ee621c;
}

.pi-600 {
  background-color: #fbc538;
}

.pi-500 {
  background-color: #71c3e6;
}

.apex {
  background-color: #0f90c9;
}

.wilds {
  background-color: #ee4708;
}

.baja {
  background-color: #25a847;
}

.text-red {
  color: red;
}

.queue-now {
  font-size: 200%;
  background-color: #d83c74;
}

.next-up {
  font-size: 150%;
  background-color: #e9d323;
}

.pi {
  padding: 0 0.25rem;
  background-color: white;
  color: black;
}
